# Abaikan semua file .exe di folder mana pun
*.exe
**/*.exe

# Jika kamu di Windows, abaikan juga file objek
*.o
*.obj

# Mengabaikan semua file log
*.log

# Mengabaikan folder tertentu (misal folder build)
/bin/